@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;

  @keyframes slide-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes slide-right {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

/* ✅ Tell Tailwind these are valid utilities */
@utility font-montserrat {
  font-family: var(--font-montserrat);
}

@utility font-lato {
  font-family: var(--font-lato);
}

@utility font-open-sans {
  font-family: var(--font-open-sans);
}
